<?xml version="1.0"?>

<launch>
  <arg name="uri" default="radio://1/70/2M/E7E7E7E703" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>


  <group ns="crazyflie">


    <node name="hover" pkg="crazyflie_demo" type="Hover.py" output="screen">
      <param name="tf_prefix" value="crazyflie" />
    </node>

    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri)" />
      <param name="tf_prefix" value="crazyflie" />
    </node>

  </group>

</launch>
