<?xml version="1.0"?>

<launch>
  <!-- <arg name="uri1" default="radio://0/90/2M/E7E7E7E702" />  -->
  <arg name="uri1" default="radio://0/70/2M/E7E7E7E703" /> 

    <arg name="frame1" default="crazyflie1" /> 

  <arg name="ip" default="192.168.2.10" /> 
  <arg name="port" default="3883" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <!-- <node name="info" pkg="crazyflie_demo" type="publish_info_leader.py" output="screen" />
   -->
  <group ns="crazyflie1">

    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri1)" />
      <param name="tf_prefix" value="crazyflie1" />
    </node>
    
    <node name="thrust" pkg="crazyflie_demo" type="thrust.py" output="screen"> 
    </node>

    <!-- <node name="pose" pkg="crazyflie_demo" type="publish_external_position_vrpn.py" output="screen"> 
      <param name="topic" value="/crazyflie1/vrpn_client_node/crazyflie1/pose" />
    </node> -->

    <!-- <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
      <rosparam subst_value="true">
        server: $(arg ip)
        port: $(arg port)
        update_frequency: 100.0
        frame_id: world
        child_frame_id: $(arg frame1)
        use_server_time: false
        broadcast_tf: true
        refresh_tracker_frequency: 1.0
      </rosparam>
    </node> -->

  </group>



</launch>

