<?xml version="1.0"?>

<launch>
  <arg name="uri1" default="radio://0/90/2M/E7E7E7E702" /> 
  <arg name="uri2" default="radio://1/70/2M/E7E7E7E703" /> 

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <group ns="crazyflie1">
    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri1)" />
      <param name="tf_prefix" value="crazyflie1" />
    </node>
  </group>

  <group ns="crazyflie2">
    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri2)" />
      <param name="tf_prefix" value="crazyflie2" />
    </node>
  </group>

</launch>
