<?xml version="1.0"?>
<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="uri" default="radio://0/80/2M/E7E7E7E701" /> 
  <!-- <arg name="uri" default="radio://0/90/2M/E7E7E7E702" />  -->
  <!-- <arg name="uri" default="radio://0/70/2M/E7E7E7E703" />  -->
  <arg name="frame" default="crazyflie1" /> <!--For OptiTrack users: frame name should match the Rigid-body name on Motive-->
  <arg name="ip" default="192.168.2.10" /> <!--Adjust this parameter-->
  <arg name="port" default="3883" />
  <!-- Posiciones iniciales -->
  <arg name="xi" default="0.0" />
  <arg name="yi" default="0.0" />
  <arg name="zi" default="0.0" />


  <!-- 
  Seleccione el controlador de orientacion:

  1.- PID (Bitcraze)
  2.- Mellinger (Bitcraze)
  3.- INDI (Bitcraze)
  4.- Brescanccini (Bitcraze)
  5.- Sliding Mode Control
  6.- Backstepping
  7.- Twisting Continuo
  8.- Super Twisting Algoritm
  9.- Nonsingular Terminal Sliding Mode Control
  10.- Singular Terminal Sliding Mode Control
  11.- PID (Newtons)
    -->
    
  <arg name="n" default="9" />

  
  <!-- Parametros de la trayectoria deseada -->
  <arg name="r" default="0.2" />
  <arg name="h" default="0.4" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <group ns="crazyflie1">
    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri)" />
      <param name="tf_prefix" value="crazyflie1" />
    </node>
    <node name="joy" pkg="joy" type="joy_node" output="screen">
      <param name="dev" value="$(arg joy_dev)" />
    </node>
    <node name="pose" pkg="crazyflie_demo" type="setpoint.py" output="screen">
        <param name="xi" value="$(arg xi)" />
        <param name="yi" value="$(arg yi)" />
        <param name="zi" value="$(arg zi)" />
        <param name="h" value="$(arg h)" />
        <param name="r" value="$(arg r)" />
    </node>
    <node name="joystick_controller" pkg="crazyflie_demo" type="control.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
    </node>
    <node name="pose1" pkg="crazyflie_demo" type="vrpn.py" output="screen"> 
      <param name="topic" value="vrpn_client_node/crazyflie1/pose" />
      <param name="n" value="$(arg n)" />

    </node>
    
    <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
    <rosparam subst_value="true">
      server: $(arg ip)
      port: $(arg port)
      update_frequency: 100.0
      frame_id: world
      child_frame_id: $(arg frame)
      use_server_time: false
      broadcast_tf: true
      refresh_tracker_frequency: 1.0
    </rosparam>
    </node>

  </group>
</launch>