<?xml version="1.0"?>
<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  <!-- <arg name="uri" default="radio://1/80/2M/E7E7E7E701" />  -->
  <arg name="uri" default="radio://0/90/2M/E7E7E7E702" /> 
  <!-- <arg name="uri" default="radio://0/70/250K/E7E7E7E703" />  -->
  <arg name="frame" default="crazyflie" /> <!--For OptiTrack users: frame name should match the Rigid-body name on Motive-->
  <arg name="ip" default="192.168.2.10" /> <!--Adjust this parameter-->
  <arg name="port" default="3883" />

  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="1.0" />

  <include file="$(find crazyflie)/launch/crazyflie_server.launch">
  </include>

  <group ns="crazyflie">
    <include file="$(find crazyflie)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri)" />
      <arg name="tf_prefix" value="crazyflie" />
    </include>

    <node name="joy" pkg="joy" type="joy_node" output="screen">
      <param name="dev" value="$(arg joy_dev)" />
    </node>

    <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
    </node>

    <node name="controller" pkg="crazyflie_controller" type="controller.py" output="screen">
      <param name="frame" value="$(arg frame)" />
    </node>

    <node name="external" pkg="crazyflie_demo" type="external_position.py" output="screen"> 
    </node>

    <node name="pose" pkg="crazyflie_demo" type="publish_pose.py" output="screen">
      <param name="name" value="goal" />
      <param name="rate" value="10" />
      <param name="x" value="$(arg x)" />
      <param name="y" value="$(arg y)" />
      <param name="z" value="$(arg z)" />
    </node>


    <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
    <rosparam subst_value="true">
      server: $(arg ip)
      port: $(arg port)
      update_frequency: 100.0
      frame_id: world
      child_frame_id: $(arg frame)
      use_server_time: false
      broadcast_tf: true
      refresh_tracker_frequency: 1.0
    </rosparam>
    </node>

  </group>

</launch>
