<?xml version="1.0"?>
<launch>

  <node pkg="crazyflie_driver" type="mocap_helper" name="mocap_helper" output="screen" >
    <rosparam>
      motion_capture_type: "vrpn" # one of none,vicon,optitrack,optitrack_closed_source,qualisys,vrpn
      object_tracking_type: "motionCapture" # one of motionCapture,libobjecttracker 
      motion_capture_host_name: "192.168.2.10" #Replace with your hostname that you verified is streaming with VRPN
    </rosparam>
  </node>
</launch>
